.login-container {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
    h2 {
      text-align: center;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      label {
        margin-bottom: 0.5rem;
      }
  
      input {
        margin-bottom: 1rem;
        padding: 0.5rem;
      }
  
      button {
        background: #007BFF;
        color: white;
        padding: 0.7rem;
        border: none;
        cursor: pointer;
        margin-bottom: 0.5rem;
      }
    }
  }