.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0056b3; /* Fondo azul */
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    background-color: #0056b3;
    height: 100px;
  }
  
  .toggle {
    position: absolute;
    top: 40%; /* Baja el toggle al 50% de la altura del contenedor */
    left: 10px; /* Ajusta la posición horizontal si es necesario */
    transform: translateY(-50%); /* Centra el toggle verticalmente */
    margin: 10px; /* Espaciado opcional */
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  
  h1 {
    margin: 0;
  }