<div [class]="isDarkTheme ? 'container-dark' : 'container-light'">


        <navbar  (themeChange)="isDarkTheme = $event"></navbar>
 

<!-- <div *ngIf="userData">
  <h2>Dades de l'usuari:</h2>
  <p><strong>Nom:</strong> {{ userData.name }}</p>
  <p><strong>Email:</strong> {{ userData.email }}</p>
  <p><strong>Telèfon:</strong> {{ userData.phone }}</p>
  <p><strong>Moneder:</strong> {{ userData.wallet }}</p>
</div> -->
<div class="home-container">
  <div class="left-container">
    <!-- <app-table-search 
    (searchEvent)="handleSearch($event)">
    </app-table-search>  -->

    <app-table 
    #tableRef
    [data]="filteredData" 
    [columns]="tableColumns"
    [isDarkMode]="isDarkTheme">
    
    </app-table>
  </div>
  
  <app-filter-search (searchResults)="handleSearchResults($event)" [page]="tableRef.currentPage" 
  [limit]="tableRef.rowsPerPage" ></app-filter-search>
</div>
</div>
