.search-container {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
  }
  
  .search-container input,
  .search-container select {
    padding: 10px;
    font-size: 17px;
  }
  
  .search-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  .search-container button span {
    font-size: 17px; 
  }
  
  .search-container button:hover {
    background-color: #0056b3;
  }
  