.order-details {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
}

.order-details ul {
  list-style-type: none;
  padding: 0;
}

.order-details li {
  margin: 8px 0;
}

.order-header {
  display: flex;
  align-items: center;
}

.order-header button {
  margin-left: 400px; 
  background-color: #dc3545; 
  color: white;
  border: none;
  border-radius: 12px; /* Bordes redondeados */
  padding: 8px 16px; /* Espaciado interno */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Animación suave al pasar el mouse */
}

.order-header button:hover {
  background-color: #c82333; /* Rojo más oscuro al pasar el mouse */
}

