<div>
    <h2>Registre</h2>
    <form (ngSubmit)="signup()">
      <label for="name">Nom:</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" required>
      
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>
      
      <label for="password">Contrasenya:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
      
      <label for="phone">Telèfon:</label>
      <input type="text" id="phone" [(ngModel)]="phone" name="phone">
      
      <label for="wallet">Wallet:</label>
      <input type="number" id="wallet" [(ngModel)]="wallet" name="wallet">
      
      <button type="submit">Registrar-se</button>
      <button type="button" (click)="returnToLogin()">returnToLogin</button>
    </form>
  </div>