/* ===================== FONTS ===================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* ===================== TABLA ===================== */
table {
  width: auto;
  max-width: 1200px;
  border-collapse: collapse;
  margin: 0;
  font-size: 1rem;
  text-align: left;
}

thead {
  background-color: #0056b3;
  color: white;
}

th {
  padding: 0.9rem;
  border: 1px solid #ddd;
  cursor: pointer;
}

td {
  padding: 0.9rem;
  border: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #333;
  background-color: #b4b4b4;
}
.dark-mode td {
  background-color: #333;
  color: rgb(209, 208, 208);
}
.light-mode td {
  background-color: #fff;
  color: #333;
}

/* ===================== BOTONES ===================== */
button-red,
button-green,
button-blue {
  padding: 8px 12px;
}


/* ===================== CONTENEDORES ===================== */
.buttonBox {
  margin: 0 0px 0px;
  position: relative;
  max-width: 200px;
  min-width: 150px;
  flex: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin-top: 0px;
}

.create-user-button {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

/* ===================== PAGINACIÓN ===================== */
.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 10px;
  margin-bottom: 20px;
  margin-right: 180px;
}

.pagination-controls button {
  width: 200px;
  background: #0056b3;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.pagination-controls button:hover {
  background: rgb(215, 213, 213);
  color: #0056b3;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  transform: none;
}

/* ===================== ESTADOS ===================== */
.dark-mode label{
  color: rgb(209, 208, 208);
}
.light-mode label{
  color: rgb(0, 0, 0);
}
.dark-mode span{
  color: rgb(209, 208, 208);
}
.light-mode span{
  color: rgb(0, 0, 0);
}

/* ===================== BÚSQUEDA ===================== */
.search-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: #f8f9fa00;
  border: 1px solid #dddddd00;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: rgb(218, 218, 218);
}

.search-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: rgb(218, 218, 218);
}

.search-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* ===================== BOTÓN COPIAR ===================== */
.copy-button {
  margin-left: 5px;
  padding: 2px 5px;
  font-size: 12px;
  background-color: #c6e1ff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  text-align: flex-start;
  line-height: 20px;
}

.copy-button:hover {
  background-color: #0056b3;
  align-items: center;
}
