<div class="search-container">
  <input 
    type="text" 
    placeholder="Buscar..." 
    [(ngModel)]="searchText" 
    (ngModelChange)="onSearchChange()" 
    class="search-input"
  />
  <select [(ngModel)]="searchKey" class="search-select">
    <option value="name">Nombre</option>
    <option value="phone">Teléfono</option>
    <option value="email">Email</option>
  </select>
</div>

<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns" (click)="sortData(column.key)">
        {{ column.label }}
        <span *ngIf="sortColumn === column.key">
          {{ sortDirection === "asc" ? "▲" : "▼" }}
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of paginatedData"  (click)="ViewProfile(item)">
      <tr *ngFor="let item of paginatedData" (click)="ViewProfile(item)">
        <td *ngFor="let column of columns" [ngClass]="{'inactive': !item.Flag && column.key !== 'flag'}" (click)="column.key === 'flag' ? $event.stopPropagation() : null">
          <!-- <ng-container *ngIf="column.key !== 'flag'">
            {{ item[column.key] }}
        </ng-container> -->
                  
        <ng-container *ngIf="column.key === '_id' || column.key == 'email' || column.key == 'name' || column.key == 'phone' ; else defaultColumn">
          {{ item[column.key] }}
          <button class="copy-button" (click)="copyToClipboard(item[column.key], $event)">📋</button>
        </ng-container>
        <ng-template #defaultColumn>
          <ng-container *ngIf="column.key === 'flag'; else defaulttColumn">
            <div class="button-container">
              <button (click)="inactivateUser(item)">X</button>
              <button (click)="activateUser(item)">O</button>
              <button (click)="editUser(item)">Modificar</button>
            </div>
          </ng-container>
          </ng-template>

        <ng-template #defaulttColumn>
          
          {{ item[column.key] }}
        </ng-template>
        
      </td>
    </tr>
  </tbody>
</table>

<div class="pagination-controls">
  <label for="rowsPerPage">Rows per page:</label>
  <select id="rowsPerPage" (change)="changeRowsPerPage($event)">
    <option *ngFor="let option of rowsPerPageOptions" [value]="option">
      {{ option }}
    </option>
  </select>

  <button (click)="changePageToFirst()">«</button>
  <button (click)="changePage(-1)" [disabled]="currentPage === 1">‹</button>
  <span>Page {{ currentPage }}</span>
  <button (click)="changePage(1)">›</button>
  <button (click)="changePageToLast()">»</button>
</div>
<div>
  <button class="create-user-button" (click)="openCreateUserModal()">
    Crear Usuario
  </button>
</div>
