<div [class.dark-mode]="isDarkMode" [class.light-mode]="!isDarkMode">
<div class="search-container">
  <input 
    type="text" 
    placeholder="Buscar..." 
    [(ngModel)]="searchText" 
    (ngModelChange)="onSearchChange()" 
    class="search-input"
  />
  <select [(ngModel)]="searchKey" class="search-select">
    <option value="name">Nombre</option>
    <option value="phone">Teléfono</option>
    <option value="email">Email</option>
  </select>
</div>

<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns" (click)="sortData(column.key)">
        {{ column.label }}
        <span *ngIf="sortColumn === column.key">
          {{ sortDirection === "asc" ? "▲" : "▼" }}
        </span>

        
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of paginatedData" (click)="ViewProfile(item)"
    [ngClass]="{'dark-mode': isDarkMode, 'light-mode': !isDarkMode}">
      
      <td *ngFor="let column of columns"  
          (click)="column.key === 'flag' ? $event.stopPropagation() : null">
        
        <ng-container *ngIf="column.key === '_id' || column.key === 'email' || column.key === 'name' || column.key === 'phone'; else defaultColumn">
          {{ item[column.key] | shortString}}
          <button class="copy-button" (click)="copyToClipboard(item[column.key], $event); $event.stopPropagation()">📋</button>
        </ng-container>

        <ng-template #defaultColumn>
          <ng-container *ngIf="column.key === 'flag'; else otherColumns">
            <td (click)=" $event.stopPropagation()">
              <checkbox-1 
                [checked]="item.flag" 
                (change)="onFlagChange(item)">
              </checkbox-1>
            </td>
            
          </ng-container>
        </ng-template>

        <ng-template #otherColumns>
          <ng-container *ngIf="column.key === 'actions'; else passwordColumn">
            <button-blue [text] = "'Modificar'" (click)="openEditUserModal(item); $event.stopPropagation()"></button-blue>
          </ng-container>
            
        </ng-template>

        <ng-template #passwordColumn>
          <ng-container >
            {{ item[column.key] | shortString  }}
          </ng-container>
        </ng-template>

      </td>
    </tr>
  </tbody>
</table>

<div class="pagination-controls">
  <label for="rowsPerPage">Filas por página:</label>
  <select id="rowsPerPage" (change)="changeRowsPerPage($event)">
    <option *ngFor="let option of rowsPerPageOptions" [value]="option" class = "search-select" >
      {{ option }}
    </option>
  </select>

  <button-blue [text]="'«'" (click)="changePageToFirst()">«</button-blue>
    <button-blue [text]="'‹'" (click)="changePage(-1)" >‹</button-blue>
    <span>Page {{ currentPage }}</span>
    <button-blue [text]="'›'" (click)="changePage(1)">›</button-blue>
    <button-blue [text]="'»'" (click)="changePageToLast()"></button-blue>
</div>

<div class ="create-user-button">
    <button-blue [text]="'Crear Usuario'" class="create-user-button" (click)="openCreateUserModal()"></button-blue>
</div>

</div>